/*
Color variables
..........................................................*/
$primary-color: #ffffff;
$black-color: hsl(0, 0%, 0%);
$secondary-color: rgb(78, 78, 236);
$background-color: #131c21;
/*........................................................*/
